* {
    text-align: center;
}   

body{
    background: url();
    background-size: 470px;
    background-repeat: no-repeat; 
}

main {
    position: relative;
}

h1 {
    font-family: bungee, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: 200px;
}

h2 {
    font-family: bungee, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#yes{
    background-color: #F2A3C5;
    color: white;
    padding: 30px;
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-right: 20px;
}

#no{
    background-color: #F2A3C5;
    color: white;
    padding: 20px;
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
}

#timer{
    font-family: bungee, sans-serif;
    font-size: 270px;
    display: none;
    color: grey;
    position: absolute;
    margin-top: 150px;
}

.questions {
    font-family: bungee, sans-serif;
    font-weight: 400;
    position: relative;
    margin-top: 100px;
}

.answer1, .answer2, .answer3 {
    list-style: none;
    font-family: bungee, sans-serif;
    font-weight: 500;
    position: relative;
    display: none;
    margin-right: 10px;
}

.answer4 {
    list-style: none;
    font-family: bungee, sans-serif;
    font-weight: 500;
    position: relative;
    display: none;
    margin-right: 20px;
}

#nope1, #nope12, #nope13, #nope14, #nope2, #nope23, #nope24, #nope3, #nope32, #nope34, #nope4, #nope42, #nope43, #nope44 {
    position: relative;
}

#nopetext1, #nopetext12, #nopetext13, #nopetext2, #nopetext24, #nopetext3, #nopetext34, #nopetext4, #nopetext43, #nopetext44 {
    background-color: #F2A3C5;
    color: white;
    border-color: black;
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: none;
    padding: 60px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#nopetext14 {
    background-color: #F2A3C5;
    color: white;
    border-color: black;
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: none;
    padding: 60px;
    position: absolute;
    left: 12px;
    top: 100px;
}

 #nopetext23, #nopetext32, #nopetext42 {
    background-color: #F2A3C5;
    color: white;
    border-color: black;
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: none;
    padding: 60px;
    position: absolute;
    left: 45px;
    top: 100px;
}

#question1{
    display: none;
    position: relative;
}

#answer1{
    display: none;
    position: relative;
}

#house {
    font-family: bungee, sans-serif;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    color: black;
}

#text1 {
    font-family: bungee, sans-serif;
    font-weight: 800;
    color: black;
    position: relative;
    display: none;
}

#keepgoing{
    background-color: #F2A3C5;
    color: white;
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: none;
    padding: 60px;
    position: absolute;
    left: 90px;
    top: 100px;
}

#question2{
    display: none;
    position: relative;
}

#answer2{
    display: none;
    position: relative;
}

#text2 {
    font-family: bungee, sans-serif;
    font-weight: 800;
    color: black;
    position: relative;
    display: none;
}

#keepgoing2{
    background-color: #F2A3C5;
    color: white;
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: none;
    padding: 60px;
    position: absolute;
    left: 90px;
    top: 100px;
}

#question3{
    display: none;
    position: relative;
}

#answer3{
    display: none;
    position: relative;
}

#text3 {
    font-family: bungee, sans-serif;
    font-weight: 800;
    color: black;
    position: relative;
    display: none;
}

#keepgoing3{
    background-color: #F2A3C5;
    color: white;
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: none;
    padding: 60px;
    position: absolute;
    left: 90px;
    top: 100px;
}

#question4{
    display: none;
    position: relative;
}

#gotit{
    display: none;
    position: relative;
}
#answer4{
    display: none;
    position: relative;
}

#text4, #losttext {
    font-family: bungee, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: 150px;
    position: relative;
    display: none;
}

#wincount, #losscount {
    font-family: bungee, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: 50px;
    position: relative;
    display: none;
}
#playagain, #tryagain{
    background-color: #F2A3C5;
    color: white;
    border-color: black;
    font-family: bungee, sans-serif;
    font-weight: 300;
    font-style: normal;
    display: none;
    padding: 10px;
    position: absolute;
    left: 130px;
    top: 400px;
}

#wincount, #losscount {
    font-family: bungee, sans-serif;
    font-weight: 800;
    font-style: normal;
    position: relative;
    display: none;
}

#nopetext1 {
    display: none;
    position: relative;
}