* {
    text-align: center;
}   

body{
    background: url();
    background-size: 470px;
    background-repeat: no-repeat; 
}

main {
    position: relative;
}

h1 {
    font-family: bungee, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: 200px;
}

h2 {
    font-family: bungee, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#yes{
    background-color: #F2A3C5;
    color: white;
    padding: 30px;
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-right: 20px;
}

#no{
    background-color: #F2A3C5;
    color: white;
    padding: 20px;
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
}

#timer{
    font-family: bungee, sans-serif;
    font-size: 270px;
    display: none;
    color: grey;
    position: absolute;
    margin-top: 150px;
}

.questions {
    font-family: bungee, sans-serif;
    font-weight: 400;
    position: relative;
    margin-top: 100px;
}

.answer1, .answer2 {
    list-style: none;
    font-family: bungee, sans-serif;
    font-weight: 500;
    position: relative;
    display: none;
}

#nope1, #nope12, #nope13, #nope14 {
    position: relative;
}

#nopetext1, #nopetext12, #nopetext13, #nopetext14, #nopetext2, #nopetext23, #nopetext24 {
    background-color: #F2A3C5;
    color: white;
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: none;
    padding: 60px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#question1{
    display: none;
    position: relative;
}

#answer1{
    display: none;
    position: relative;
}

#house {
    font-family: bungee, sans-serif;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    color: black;
}

#text1 {
    font-family: bungee, sans-serif;
    font-weight: 800;
    color: black;
    position: relative;
    display: none;
}

#keepgoing{
    background-color: #F2A3C5;
    color: white;
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: none;
    padding: 60px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#question2{
    display: none;
    position: relative;
}

#answer2{
    display: none;
    position: relative;
}

#text2 {
    font-family: bungee, sans-serif;
    font-weight: 800;
    color: black;
    position: relative;
    display: none;
}

#keepgoing2{
    background-color: #F2A3C5;
    color: white;
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: none;
    padding: 60px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#question3{
    display: none;
    position: relative;
}

#answer3{
    display: none;
    position: relative;
}

#text3 {
    font-family: bungee, sans-serif;
    font-weight: 800;
    color: black;
    position: relative;
    display: none;
}

#keepgoing3{
    background-color: #F2A3C5;
    color: white;
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: none;
    padding: 60px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#question4{
    display: none;
    position: relative;
}

#gotit{
    display: none;
    position: relative;
}
#answer4{
    display: none;
    position: relative;
}

#text4 {
    font-family: bungee, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: 200px;
    position: relative;
    display: none;
}

#wincount {
    font-family: bungee, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: 200px;
    position: relative;
    display: none;
}

#nopetext1 {
    display: none;
    position: relative;
}